<html>
    <body>
        <img class = "image2" src = "\assets\logo1.png" width="100" height="100">
        <button (click) = "back()" style="margin-left: 80em; background-color: #563D7C; color: rgb(255, 255, 255); position: fixed;border-radius: 10px ;margin-top: 60px;margin-left:1060px">Back</button>
    <h1 style=" text-align:center;"><b>GRADE - I</b></h1>
    <br><br>
    <h3>
        &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;Numbers &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
         &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
         &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
         &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
         Addition</h3>
    &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp;
    <div style = "margin-left:30px;">
    <video width="550" height="450" controls>
        <source src="\assets\grade1Assets\Number_count_1_-_100_sirius.mp4" type="video/mp4">
    </video>&nbsp; &nbsp; &nbsp; &nbsp;</div>
    <div style = "margin-left:650px; margin-top: -454px;" >
    <video width="550" height="450" controls>
        <source src="\assets\grade1Assets\addition_sirius.mp4" type="video/mp4">
    </video></div>
    <br><br>
    <br><br>   
<h3>&nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; Multiplication &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
        Division</h3>
    &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp;
    <div style = "margin-left:30px;">
        <video width="550" height="450" controls>
      <source src="\assets\grade1Assets\Basic_multiplication_sirius.mp4" type="video/mp4"></video>
    &nbsp; &nbsp; &nbsp; &nbsp;
   </div><div style = "margin-left:650px; margin-top: -457px;">
    <video width="550" height="450" controls><source src="\assets\grade1Assets\Division_sirius.mp4" type="video/mp4"></video>
  </div>  <br><br><br><br>
  <h3>&nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; Subtraction &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
        Describing Words</h3>
    &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp;
        <div style = "margin-left:30px;">
            <video width="550" height="450" controls>
          <source src="\assets\grade1Assets\Subtraction.mp4" type="video/mp4"></video>
        </div><br><br><br><br>
        &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp;
        <h3> &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;Green Plants</h3>
         &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp;<br>
            <br><br>
            <br>
            <div style = "margin-left:650px; margin-top: -712px;">
                <video width="550" height="450" controls>
              <source src="\assets\grade1Assets\Describing_words_sirius.mp4" type="video/mp4"></video>
            &nbsp; &nbsp; &nbsp; &nbsp;</div>
            &nbsp; &nbsp; &nbsp; &nbsp;<br><br><br>
            <div style = "margin-left:30px;margin-top:100px">
            <video width="550" height="450" controls><source src="\assets\grade1Assets\Green_plants_Grade_I.mp4" type="video/mp4"></video>
        </div>

    <br><br>
    <h3>&nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp;Maths Text Book</h3>
        &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp;
        <iframe src="\assets\grade1Assets\1st_maths_em.pdf" width="80%" height="500px"></iframe>
        <br><br><br><br><h3>&nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp;English Text Book</h3>
        &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp;
        <iframe src = "\assets\grade1Assets\1st_class_english.pdf" width = "80%" height = "500px"></iframe>
        <br><br><br>
        <button style="background-color: #563D7C; color: white; margin-left: 40em;border-radius: 5px;" onclick = "window.location.href='\quiz1'">Try Me !!</button>
        <br><br><br>
   </body>
</html>